body{
	font-size: 16px;
	background: #ccc;
}
h1{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	background: blue;
	padding: 1em;
	font-size: 3em;
}
section{
	max-width: 1200px;
	background: white;
	color:#555;
	margin: 0 auto;
	padding: 1em;
}