@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	font-family: 'Lato', Arial, sans-serif; 
	font-size: 16px;
	background: #eee;
}
header{
	background: #80AC58;
	text-align: center;
	margin: 0 auto;
	padding: 1em;
	
}
h1{
	/*max-width: 1200px;*/
	font-size: 3em;
}

section{

	background: white;
	color:#555;
	padding: 1em;
}
footer{
	padding: 1em;
	font-size: 1.5em;
	background: #80AC58;
	border-top: 1px solid #666;
	text-align: center;
}
/*comentario*/
#img1{
	width:600px;
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 768px){
	header h1{
		font-size:2em;
	}
	header h2{
		font-size: 1.2em;
	}
	footer {
		padding: 0.5em;
		font-size: 1em;
		background: #80AC58;
		border-top: 1px solid #666;
		text-align: center;

	}
	#img1 {
		
		width: 100%;
	}
	#img1 img {
		width:100%;
	}

}